<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div class="text" style="text-align: center">
    {%if not name:%}
    <h1>welcome，this is my first work！</h1>
    {%else:%}
    {%for massage in get_flashed_messages()%}
    <h1>{{massage}}</h1>
    {%endfor%}
    {%endif%}
</div>

<div class="picture">
    <img src="{{img}}" alt=cat"/>
</div>
<div class="botton" >
    <a href="/login"><input type="button"  value="login in"></a>
    <a href="/reg"><input type="button"  value="regist"></a>
</div>
</body>
</html>